@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --sbw: 0px;
}

@supports (width: 100vw) {
  :root {
    --sbw: calc(100vw - 100%);
  }
}


.no-scrollbar-vw {
  width: calc(100vw - var(--sbw)) !important;
}




@font-face {
  font-family: "font1";
  src:
    url("/fonts/f1.woff2") format("woff2"),
    url("/fonts/f1.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "font2";
  src:
    url("/fonts/f2.woff2") format("woff2"),
    url("/fonts/f2.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "font3";
  src:
    url("/fonts/f3.woff2") format("woff2"),
    url("/fonts/f3.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "font4";
  src:
    url("/fonts/f4.woff2") format("woff2"),
    url("/fonts/f4.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "font5";
  src:
    url("/fonts/f5.woff2") format("woff2"),
    url("/fonts/f5.woff") format("woff");
  font-display: swap;
}


.font1 {
  font-family: "font1", sans-serif;
}

.font2 {
  font-family: "font2", sans-serif;
}

.font3 {
  font-family: "font3", sans-serif;
}

.font4 {
  font-family: "font4", sans-serif;
}

.font5 {
  font-family: "font5", sans-serif;
}


#process_heading {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}



#circle_number{
  font-weight: 400 !important;
}



  


 @media (min-width: 1024px) {
  .pb-hero-top {
    font-size: 87px;
    line-height: 92px;
    letter-spacing: 0.5px;
    font-weight: 300;
    text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.45);
  }

  .pb-hero-bottom {
    font-size: 87px;
    line-height: 92px;
    letter-spacing: 1.25px;
    font-weight: 700;
    text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.45);
  }

  .pb-hero-x {
    font-size: 55px;
    line-height: 55px;
    text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
  }

  .pb-hero-sub {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.45);
    filter: blur(0.5px);
  }
}





.dot {
  width: 15px;
  height: 15px;
  background-color: #E7E4E5;
  border: 1px solid #000;
  border-radius: 50%;
}

@media (min-width: 1360px) {
  .dot {
    width: 20px;
  height: 20px;
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: clip;
  backface-visibility: hidden;
}

html {
  overflow-x: clip;
}







.w-d-screen{
  width: 100dvw;
}

@theme inline {
  --breakpoint-sm : 640px;
  --breakpoint-md : 900px;
  --breakpoint-lg : 1140px;
  --breakpoint-xl : 1336px;
  --breakpoint-2xl : 1536px;
}







/* ===============================
   BOATHOUSE TRIANGLE REVEAL
================================ */
.triangle-mask {
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100%;
  background: #e7e4e5;
  z-index: 5;
  pointer-events: none;
}

.triangle-mask.left {
  left: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.triangle-mask.right {
  right: 0;
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}
