@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "wix";
  src:
    url("/fonts/file.woff2") format("woff2"),
    url("/fonts/file.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "font1";
  src:
    url("/fonts/f1.woff2") format("woff2"),
    url("/fonts/f1.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "font2";
  src:
    url("/fonts/f2.woff2") format("woff2"),
    url("/fonts/f2.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "font3";
  src:
    url("/fonts/f3.woff2") format("woff2"),
    url("/fonts/f3.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "font4";
  src:
    url("/fonts/f4.woff2") format("woff2"),
    url("/fonts/f4.woff") format("woff");
  font-display: swap;
}


.font1 {
  font-family: "font1", sans-serif;
}

.font2 {
  font-family: "font2", sans-serif;
}

.font3 {
  font-family: "font3", sans-serif;
}

.font4 {
  font-family: "font4", sans-serif;
}



  @media (min-width: 1024px) {
    .card {
      width: 380px !important;
      height: 220px !important;
    }
  }


 @media (min-width: 1024px) {
  .pb-hero-top {
    font-size: 87px;
    line-height: 92px;
    letter-spacing: 0.5px;
    font-weight: 300;
    text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.45);
  }

  .pb-hero-bottom {
    font-size: 87px;
    line-height: 92px;
    letter-spacing: 1.25px;
    font-weight: 700;
    text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.45);
  }

  .pb-hero-x {
    font-size: 55px;
    line-height: 55px;
    text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
  }

  .pb-hero-sub {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.45);
    filter: blur(0.5px);
  }
}


.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 84px;
}

.badoni{
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.wix {
  font-family: "wix", sans-serif;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: #E7E4E5;
  border: 1px solid #000;
  border-radius: 50%;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


